<script setup lang="ts">
import { getExisting } from '@/appframework/lib/rest'
import { ref, type Ref } from 'vue'
import { format } from 'date-fns'
import { useI18n } from 'vue-i18n'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import type { Employee } from '@/appframework'
import { search } from '@/App.vue'

const { t } = useI18n()

const loading = ref(false)
const error = ref(null as unknown as string)

const selectedDate = ref(new Date())
const absent: Ref<Employee[]> = ref([])
const available: Ref<Employee[]> = ref([])

async function loadAbsencesAndAvailabilities() {
  loading.value = true
  try {
    absent.value = await getExisting<Employee[]>(
      `absent?date${format(selectedDate.value, 'yyyy-MM-dd')}&search=${search.value}`
    )
    available.value = await getExisting<Employee[]>(
      `available?date${format(selectedDate.value, 'yyyy-MM-dd')}&search=${search.value}`
    )
  } catch (e) {
    error.value = e as string
  }
  loading.value = false
}
loadAbsencesAndAvailabilities()
</script>

<template>
  <LoadingComponent :loading="loading" :error="error">
    <h1><IBiLink /> {{ t('absence') }}</h1>

    <form class="form-horizontal">
      <div class="row">
        <LabelGroup label="date">
          <DatePicker v-model="selectedDate" @date-select="loadAbsencesAndAvailabilities" />
        </LabelGroup>
      </div>
    </form>

    <div class="row">
      <div class="col-sm-6">
        <BTableSimple>
          <BThead>
            <BTr>
              <BTh>{{ t('absent') }}</BTh>
            </BTr>
          </BThead>
          <BTbody>
            <BTr v-for="employee in absent" :key="employee.id">
              <BTd><EmployeeName :employee="employee" /></BTd>
            </BTr>
          </BTbody>
        </BTableSimple>
      </div>
      <div class="col-sm-6">
        <BTableSimple>
          <BThead>
            <BTr>
              <th>{{ t('available') }}</th>
            </BTr>
          </BThead>
          <BTbody>
            <BTr v-for="employee in available" :key="employee.id">
              <BTd><EmployeeName :employee="employee" /></BTd>
            </BTr>
          </BTbody>
        </BTableSimple>
      </div>
    </div>
  </LoadingComponent>
</template>
