<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import { Sortable } from 'sortablejs-vue3'

import type { Label } from '@/appframework'
import { appState } from '@/store'
import { saveNew } from '@/appframework/lib/rest'
import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'

const { t } = useI18n()

const exportconfig_ = ref({
  abilitiesX: [] as Label[],
  abilitiesY: [{ index: 1, name: '', abilities: [] as Label[] }]
})
const sortableOptions = {
  onEnd: function () {
    exportEmployees()
  },
  handle: '.export-drag-handle'
}
const exportdata = ref('')

activate()

function activate() {
  const exportconfig = appState().value.exportconfig
  if (exportconfig) {
    exportconfig_.value = exportconfig
    let index = 1
    for (const x of exportconfig_.value.abilitiesY) {
      x.index = index++
    }
    exportEmployees()
  }
}

async function exportEmployees() {
  appState().value.exportconfig = exportconfig_.value

  const data = {
    abilitiesX: exportconfig_.value.abilitiesX.map(function (ability) {
      return ability.name
    }),
    abilitiesY: {} as Record<string, string[]>
  }
  for (const value of exportconfig_.value.abilitiesY) {
    data.abilitiesY[value.name] = value.abilities.map(function (ability) {
      return ability.name
    })
  }

  const response = await saveNew('employee/export/confluence', data)
  exportdata.value = await response.text()
}

function addYAxisElement() {
  let index = 1
  for (const value of exportconfig_.value.abilitiesY) {
    index = Math.max(index, value.index)
  }
  exportconfig_.value.abilitiesY.push({ index: index + 1, name: '', abilities: [] })
  exportEmployees()
}

function removeYAxisElement(element: { index: number; name: string; abilities: Label[] }) {
  const index = exportconfig_.value.abilitiesY.indexOf(element)
  if (index > -1) {
    exportconfig_.value.abilitiesY.splice(index, 1)
    exportEmployees()
  }
}
</script>
<template>
  <h1><IBiPeople />{{ t('export_confluence') }}</h1>
  <LabelGroup label="x_axis">
    <p class="col-sm-12">
      <LabelSelection v-model="exportconfig_.abilitiesX" />
    </p>
  </LabelGroup>
  <LabelGroup label="y_axis">
    <Sortable :options="sortableOptions" :list="exportconfig_.abilitiesY" item-key="index">
      <template #item="{ element }">
        <div class="row">
          <div class="col-sm-1">
            <IBiBarChart class="export-drag-handle" />
          </div>
          <div class="col-sm-3">
            <BFormInput v-model="element.name" @blur="exportEmployees()" />
          </div>
          <div class="col-sm-7">
            <LabelSelection v-model="element.abilities" />
          </div>
          <div class="col-sm-1">
            <BButton variant="danger" size="sm" @click="removeYAxisElement(element)">{{
              t('remove')
            }}</BButton>
          </div>
        </div>
      </template>
    </Sortable>
    <BButton variant="secondary" @click="addYAxisElement()"> <IBiPlus /> {{ t('add') }} </BButton>
  </LabelGroup>

  <pre>{{ exportdata }}</pre>
</template>
