<template>
  <SingleComponent
    ref="single"
    type="employee"
    :stub="stub"
    :pre-save="preSave"
    :post-load="postLoad"
  >
    <template #icon>
      <IBiPeople />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="email">
        <BFormInput id="control_id_email" v-model="post.email" />
      </LabelGroup>
      <LabelGroup label="abilities">
        <LabelSelection v-model="post.abilities" />
      </LabelGroup>
      <LabelGroup label="color">
        <ColorPickerComponent v-model="post.color" :alternatives="colors" />
      </LabelGroup>
      <LabelGroup label="location">
        <Select
          v-model="post.locationId"
          :options="locations"
          option-label="name"
          option-value="id"
        />
      </LabelGroup>

      <h2 class="sub-header">{{ t('contract') }}</h2>

      <LabelGroup label="start_date">
        <DatePicker v-model="post.contract.start" />
      </LabelGroup>
      <LabelGroup label="end_date">
        <DatePicker v-model="post.contract.end" />
      </LabelGroup>
      <LabelGroup label="vacation_days_per_year">
        <BFormInput
          id="control_id_vacation"
          v-model="post.contract.vacationDaysPerYear"
          type="number"
          :min="0"
          :max="365"
        />
      </LabelGroup>
      <LabelGroup label="vacation.unavailable_this_year">
        <BFormInput
          v-model="unavailableForCurrentYear"
          type="number"
          disabled
          :title="unavailableForCurrentYearLabel"
        />
      </LabelGroup>
      <LabelGroup label="vacation.calculated_for_this_year">
        <BFormInput v-model="calculateDaysForCurrentYear" type="number" disabled />
      </LabelGroup>

      <h2 class="sub-header">{{ t('working_hours') }}</h2>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <FullCalendar :options="calendarConfig" />
        </div>
      </div>

      <LabelGroup label="velocity">
        <Slider v-model="post.velocity" :min="0" :max="100" :step="1" />
        <span>{{ post.velocity }}%</span>
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { computed, ref, useTemplateRef, type Ref } from 'vue'
import FullCalendar from '@fullcalendar/vue3'
import timeGridPlugin from '@fullcalendar/timegrid'
import interactionPlugin from '@fullcalendar/interaction'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { useI18n } from 'vue-i18n'
import { getExisting } from '@/appframework/lib/rest'
import type { Absence, Employee, Location, WorkingHours } from '@/appframework'
import {
  addDays,
  differenceInBusinessDays,
  differenceInDays,
  endOfMonth,
  format,
  formatDuration,
  getDay,
  intervalToDuration,
  isAfter,
  isBefore,
  isSameYear,
  parse,
  setDay,
  setMonth,
  startOfMonth
} from 'date-fns'
import type { CalendarOptions, EventInput } from '@fullcalendar/core/index.js'
import { getDfnsLocale } from '@/appframework/lib/i18n'

const { t } = useI18n()

function preSave(employee: Employee) {
  for (const workingHour of employee.contract.workingHours) {
    if (workingHour.start && typeof workingHour.start !== 'string') {
      workingHour.start = format(workingHour.start, 'HH:mm:ss.SSS') as unknown as Date
    }
    if (workingHour.end && typeof workingHour.end !== 'string') {
      workingHour.end = format(workingHour.end, 'HH:mm:ss.SSS') as unknown as Date
    }
  }
}

const events = [] as EventInput[]

function stub() {
  const employee = {
    color: '00ff00',
    contract: {
      workingHours: [
        {
          dayOfWeek: 1,
          start: '08:00:00' as unknown as Date,
          end: '16:00:00' as unknown as Date
        },
        {
          dayOfWeek: 2,
          start: '08:00:00',
          end: '16:00:00' as unknown as Date
        },
        {
          dayOfWeek: 3,
          start: '08:00:00',
          end: '16:00:00' as unknown as Date
        },
        {
          dayOfWeek: 4,
          start: '08:00:00',
          end: '16:00:00' as unknown as Date
        },
        {
          dayOfWeek: 5,
          start: '08:00:00',
          end: '16:00:00' as unknown as Date
        }
      ]
    },
    velocity: 66
  } as Employee
  events.splice(0, events.length)
  for (const event of workingHoursToEvents(employee)) {
    events.push(event)
  }
  return employee
}

const single = useTemplateRef('single')

function workingHoursToEvents(employee: Employee) {
  const events = []
  for (const element of employee.contract.workingHours) {
    const start = setDay(
      parse(element.start as unknown as string, 'HH:mm:ss', new Date()),
      element.dayOfWeek
    )
    const end = setDay(
      parse(element.end as unknown as string, 'HH:mm:ss', new Date()),
      element.dayOfWeek
    )
    events.push({
      id: element.start + '-' + element.end + '-' + element.dayOfWeek,
      title: formatDuration(
        intervalToDuration({
          start,
          end
        })
      ),
      start: start,
      end: end
    })
  }
  return events
}

function postLoad(employee: Employee) {
  if (employee.contract.start) {
    employee.contract.start = parse(
      employee.contract.start as unknown as string,
      'yyyy-MM-dd',
      new Date()
    )
  }
  if (employee.contract.end) {
    employee.contract.end = parse(
      employee.contract.end as unknown as string,
      'yyyy-MM-dd',
      new Date()
    )
  }
  unavailableForCurrentYear_(employee)
  events.splice(0, events.length)
  for (const event of workingHoursToEvents(employee)) {
    events.push(event)
  }
}

async function unavailableForCurrentYear_(employee: Employee) {
  if (!employee || !employee.contract) {
    return '?'
  }
  let daysPerYear = 0
  const minStart = startOfMonth(setMonth(new Date(), 0))
  const maxEnd = endOfMonth(setMonth(new Date(), 11))
  let label = ''
  const absences: Absence[] = await getExisting(`absence/employee/${employee.id}`)
  for (const absence of absences) {
    let end = absence.end
    if (isBefore(end, minStart)) {
      return
    }
    if (isAfter(end, maxEnd)) {
      end = maxEnd
    }
    let start = absence.start
    if (isAfter(start, maxEnd)) {
      return
    }
    if (isBefore(start, minStart)) {
      start = minStart
    }
    const amount = differenceInBusinessDays(addDays(end, 1), start)
    daysPerYear += amount
    if (label !== '') {
      label += '\n'
    }
    label +=
      absence.reason +
      ' ' +
      amount +
      ' days (' +
      format(start, 'MM-dd') +
      ' - ' +
      format(end, 'MM-dd') +
      ')'
  }
  unavailableForCurrentYear.value = daysPerYear
  unavailableForCurrentYearLabel.value = label
}

const locations: Ref<Location[]> = ref([])
const colors: Ref<string[]> = ref([])
async function init() {
  locations.value = await getExisting('location')
  colors.value = await getExisting('employee/colors')
}
init()

const unavailableForCurrentYear = ref(0)
const unavailableForCurrentYearLabel = ref('')

const calculateDaysForCurrentYear = computed(() => {
  const employee: Employee = (single.value as any).post.value
  let days = 365
  if (!employee || !employee.contract) {
    return ''
  }
  const startAffected = !!employee.contract.start && isSameYear(employee.contract.start, new Date())
  const endAffected = !!employee.contract.end && isSameYear(employee.contract.end, new Date())
  if (startAffected) {
    days += differenceInDays(startOfMonth(setMonth(new Date(), 0)), employee.contract.start)
  }
  if (endAffected) {
    days -= differenceInDays(endOfMonth(setMonth(new Date(), 11)), employee.contract.end)
  }

  return Math.round(10 * employee.contract.vacationDaysPerYear * (days / 365)) / 10
})

// JSR 310 (Java 8 datetime) uses 1-7, while moment uses 0-6 (though both use 1 as monday)
function getOneBasedDayOfWeek(date: Date): number {
  let dayOfWeek = getDay(date)
  if (dayOfWeek === 0) {
    dayOfWeek = 7
  }
  return dayOfWeek
}

const calendarConfig: CalendarOptions = {
  plugins: [timeGridPlugin, interactionPlugin],
  // Hide the header completely
  headerToolbar: {
    left: '',
    center: '',
    right: ''
  },
  // No allDay row
  allDaySlot: false,
  // Show the week view
  initialView: 'timeGridWeek',
  firstDay: getDfnsLocale().options?.weekStartsOn,
  // Make selectable
  selectable: true,
  select: function (selectionInfo) {
    const dayOfWeek = getOneBasedDayOfWeek(selectionInfo.start)
    let workingHours
    const employee: Employee = (single.value as any).post.value
    employee.contract.workingHours.forEach(function (element) {
      if (element.dayOfWeek === dayOfWeek) {
        workingHours = element
      }
    })
    if (workingHours === undefined) {
      workingHours = {
        dayOfWeek: dayOfWeek
      } as WorkingHours
      employee.contract.workingHours.push(workingHours)
    }
    workingHours.start = format(selectionInfo.start as Date, 'HH:mm:ss') as unknown as Date
    workingHours.end = format(selectionInfo.end as Date, 'HH:mm:ss') as unknown as Date
    const events = workingHoursToEvents(employee)
    selectionInfo.view.calendar.removeAllEvents()
    for (const event of events) {
      selectionInfo.view.calendar.addEvent(event)
    }
  },
  // Make events movable
  editable: true,
  eventDrop: function (eventDropInfo) {
    if (eventDropInfo.delta.days !== 0) {
      eventDropInfo.revert()
      return
    }
    const dayOfWeek = getOneBasedDayOfWeek(eventDropInfo.event.start as Date)
    let workingHours = undefined as unknown as WorkingHours
    const employee: Employee = (single.value as any).post.value
    employee.contract.workingHours.forEach(function (element) {
      if (element.dayOfWeek === dayOfWeek) {
        workingHours = element
      }
    })
    if (workingHours) {
      workingHours.start = format(
        eventDropInfo.event.start as Date,
        'HH:mm:ss.SSS'
      ) as unknown as Date
      workingHours.end = format(eventDropInfo.event.end as Date, 'HH:mm:ss.SSS') as unknown as Date
    }
  },
  eventResizeStart: function (event) {
    event.event.title = ''
  },
  eventResize: function (eventResizeInfo) {
    if (getDay(eventResizeInfo.event.start as Date) !== getDay(eventResizeInfo.event.end as Date)) {
      eventResizeInfo.revert()
      return
    }
    const dayOfWeek = getOneBasedDayOfWeek(eventResizeInfo.event.start as Date)
    let workingHours = undefined as unknown as WorkingHours
    const employee: Employee = (single.value as any).post.value
    employee.contract.workingHours.forEach(function (element) {
      if (element.dayOfWeek === dayOfWeek) {
        workingHours = element
      }
    })
    if (workingHours) {
      workingHours.start = format(
        eventResizeInfo.event.start as Date,
        'HH:mm:ss.SSS'
      ) as unknown as Date
      workingHours.end = format(
        eventResizeInfo.event.end as Date,
        'HH:mm:ss.SSS'
      ) as unknown as Date
    }
  },
  // Allow non-overlapping times from 07:00 to 19:00
  businessHours: {
    start: '08:00',
    end: '18:00'
  },
  eventOverlap: false,
  events: events
}
</script>
<style>
.p-autocomplete-chip-item {
  font-size: 90%;
}
.p-autocomplete-input-multiple {
  margin-bottom: 0;
  padding-left: 0.75rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.p-select-label {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}
.p-datepicker-input {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
</style>
