<script setup lang="ts">
import { format } from 'date-fns'
import { useI18n } from 'vue-i18n'

import { search, hasPermission } from '@/App.vue'
import type { Employee } from '@/appframework'
import { appState } from '@/store'
import { getDfnsLocale } from '@/appframework/lib/i18n'

const { t } = useI18n()
const state = appState()

function stub() {
  return { name: '' } as Employee
}

function showContracts() {
  return state.value.permissions.indexOf('VIEW_WITHOUT_CONTRACT')
}

function getEmployeeStyle(employee: Employee): Record<string, string> {
  // Current users only sees active employees, no calculation necessary
  if (!showContracts()) {
    return {}
  }

  if (!employee.contract.start || new Date(employee.contract.start + ' 00:00:00') <= new Date()) {
    // Employee does not have a start date or the start date was before our current date
    if (!employee.contract.end || new Date(employee.contract.end + ' 23:59:59') >= new Date()) {
      // Employee does not have a end date or the end date was after our current date
      return {}
    } else {
      // Employee does have a end date and it's before the current date
      return { 'text-decoration': 'line-through' }
    }
  } else {
    // Employee does have a start date and it's after the current date
    return { 'text-decoration': 'line-through' }
  }
}

function filter(type: string, term: string, $event: Event) {
  if (term.indexOf(' ') !== -1) {
    term = '"' + term + '"'
  }
  if (
    $event instanceof KeyboardEvent &&
    $event.ctrlKey &&
    search.value !== undefined &&
    search.value !== ''
  ) {
    search.value += ' ' + type + ':' + ($event.shiftKey ? '!' : '') + term
  } else {
    search.value =
      type + ':' + ($event instanceof KeyboardEvent && $event.shiftKey ? '!' : '') + term
  }
}
</script>

<template>
  <ListComponent
    type="employee"
    :stub="stub"
    name-column="name"
    :colspan-extra="showContracts() ? 6 : 4"
    :row-styles="getEmployeeStyle"
  >
    <template #icon>
      <IBiPersonFill />
    </template>
    <template #header-extra="{ pager, order }">
      <SortableColumnHeader predicate="email" :pager="pager" :order="order" />
      <BTh>{{ t('abilities') }}</BTh>
      <SortableColumnHeader
        v-if="showContracts()"
        predicate="contract.start"
        :pager="pager"
        :order="order"
      />
      <SortableColumnHeader
        v-if="showContracts()"
        predicate="contract.end"
        :pager="pager"
        :order="order"
      />
      <BTh>{{ t('working_hours') }}</BTh>
      <BTh>{{ t('velocity') }}</BTh>
    </template>
    <template #name-content="{ dto }">
      <EmployeeName :employee="dto" />
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        {{ dto.email }}
      </BTd>
      <BTd>
        <BadgesComponent :with-abilities="dto" :filter="filter" />
      </BTd>
      <BTd v-if="showContracts()">
        {{ dto.contract.start ? format(dto.contract.start, 'P', { locale: getDfnsLocale() }) : '' }}
      </BTd>
      <BTd v-if="showContracts()">
        {{ dto.contract.end ? format(dto.contract.end, 'P', { locale: getDfnsLocale() }) : '' }}
      </BTd>
      <BTd>
        {{ dto.contract.workingHoursPerWeek }}
        ({{ (dto.contract.workingHoursPerWeek / 40) * 100 }}%)
      </BTd>
      <BTd>
        <VelocityComponent :velocity="dto.velocity" />
      </BTd>
    </template>
  </ListComponent>
  <BButton
    v-if="hasPermission('ADMIN_EMPLOYEES')"
    to="/employees/upload"
    class="btn-upload"
    :title="t('upload')"
  >
    <IBiUpload />
  </BButton>
  <BButton to="/employees/export" :title="t('export_confluence')" class="btn-download">
    <IBiDownload />
  </BButton>
</template>

<style>
.btn.btn-upload {
  position: fixed;
  bottom: 20px;
  right: 70px;
}
.btn.btn-download {
  position: fixed;
  bottom: 20px;
  right: 120px;
}
</style>
