<script setup lang="ts">
import { useI18n } from 'vue-i18n'
import { format } from 'date-fns'

import type { Episode } from '@/appframework'
import { getDfnsLocale } from '@/appframework/lib/i18n'

const { t } = useI18n()

function stub() {
  return { name: '' } as Episode
}
</script>

<template>
  <ListComponent type="episode" :stub="stub" name-column="name" :colspan-extra="3">
    <template #icon>
      <IBiFilePlay />
    </template>
    <template #header-extra="{ pager, order }">
      <SortableColumnHeader
        predicate="start"
        :pager="pager"
        :order="order"
        translation="start_date"
      />
      <SortableColumnHeader predicate="end" :pager="pager" :order="order" translation="end_date" />
      <BTh>{{ t('employees') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        {{ format(dto.start, 'P', { locale: getDfnsLocale() }) }}
      </BTd>
      <BTd>
        {{ format(dto.end, 'P', { locale: getDfnsLocale() }) }}
      </BTd>
      <BTd>
        {{ dto.employeeEpisodes.length }}
      </BTd>
    </template>
  </ListComponent>
</template>
