<template>
  <SingleComponent type="eposide" :stub="stub" :post-load="postLoad">
    <template #icon>
      <IBiFilePlay />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="start_date">
        <DatePicker id="control_id_start_date" v-model="post.start" />
      </LabelGroup>
      <LabelGroup label="end_date">
        <DatePicker id="control_id_end_date" v-model="post.end" />
      </LabelGroup>
      <LabelGroup label="employees">
        <BFormInput v-model="filterEmployees" placeholder="Filter ..." />
        <BTableSimple striped>
          <BTbody>
            <BTr
              v-for="employee in employees"
              :key="employee.id"
              :class="{ selected: isSelected(employee.id) }"
            >
              <BTd class="col-sm-6" @click="toggleSelection(employee.id)">
                <EmployeeName :employee="employee" :nolink="true" />
                <BadgesComponent :with-abilities="employee" />
              </BTd>
              <BTd class="col-sm-1">
                <span v-if="!isSelected(employee.id)">{{ employee.velocity }}%</span>
                <span v-if="isSelected(employee.id)"
                  >{{ selection[employee.id]?.velocity || employee.velocity }}%</span
                >
              </BTd>
              <td class="col-sm-2">
                <Slider
                  v-if="isSelected(employee.id)"
                  v-model="selection[employee.id].velocity"
                  :min="0"
                  :max="100"
                  :step="1"
                ></Slider>
              </td>
            </BTr>
          </BTbody>
        </BTableSimple>
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref, type Ref } from 'vue'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { getExisting } from '@/appframework/lib/rest'
import type { Employee, EmployeeEpisode, Episode } from '@/appframework'
import { parse } from 'date-fns'

const selection = ref({} as Record<number, EmployeeEpisode>)

function stub() {
  return {} as Episode
}

function postLoad(episode: Episode, isClone: boolean) {
  if (isClone) {
    if (episode.employeeEpisodes) {
      for (const element of episode.employeeEpisodes) {
        element.id = undefined as unknown as number
      }
    }
  }
  if (episode.start) {
    episode.start = parse(episode.start as unknown as string, 'yyyy-MM-dd', new Date())
  }
  if (episode.end) {
    episode.end = parse(episode.end as unknown as string, 'yyyy-MM-dd', new Date())
  }
  if (episode.employeeEpisodes) {
    for (const element of episode.employeeEpisodes) {
      selection.value[element.employeeId] = element
    }
  }
}

const employees: Ref<Employee[]> = ref([])
const employeeLookup = ref({} as Record<number, Employee>)
async function init() {
  employees.value = await getExisting<Employee[]>('employee')
  for (const employee of employees.value) {
    employeeLookup.value[employee.id] = employee
  }
}
init()

const filterEmployees = ref('')

function isSelected(employeeId: number) {
  return selection.value[employeeId] !== undefined
}

function toggleSelection(employeeId: number) {
  if (isSelected(employeeId)) {
    delete selection.value[employeeId]
  } else {
    selection.value[employeeId] = {
      employeeId: employeeId,
      velocity: employeeLookup.value[employeeId].velocity
    } as EmployeeEpisode
  }
}
</script>
<style>
.table > tbody > tr.selected > td {
  background-color: #428bca;
  color: #fff;
}
</style>
