<script setup lang="ts">
import { ref, type Ref } from 'vue'

import { getExisting } from '@/appframework/lib/rest'
import type { Widget } from '@/appframework'
import { hasPermission } from '../App.vue'
import { appState } from '@/store'

interface ImageWidget extends Widget {
  img?: string
}

const widgets: Ref<ImageWidget[]> = ref([])

const state = appState()

async function init() {
  widgets.value = ((await getExisting('widget')) as ImageWidget[]).sort((a, b) =>
    a.name < b.name ? -1 : 1
  )

  for (const widget of widgets.value) {
    const response = await fetch(`/rest/abilities/export/${widget.id}.svg`, {
      headers: {
        Authorization: 'Basic ' + state.value.user.authdata
      }
    })

    const data: ArrayBuffer = await response.arrayBuffer()
    const blob = new Blob([data], { type: 'image/svg+xml' })
    widget.img = URL.createObjectURL(blob)
  }
}
init()
</script>

<template>
  <BButton v-if="hasPermission('ADMIN_WIDGETS')" class="btn-edit" to="/home/edit" variant="success">
    <IBiPencil />
  </BButton>
  <div v-for="widget of widgets" :key="widget.id" class="mt-3">
    <h2>{{ widget.name }}</h2>
    <img :src="widget.img" :alt="widget.name" />
  </div>
</template>

<style>
.btn.btn-edit {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
</style>
