<script setup lang="ts">
import { ref, type Ref } from 'vue'
import { Sortable } from 'sortablejs-vue3'
import { useI18n } from 'vue-i18n'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { deleteExisting, getExisting, saveExisting, saveNew } from '@/appframework/lib/rest'
import type { Widget } from '@/appframework'

const { t } = useI18n()

const loading = ref(false)
const error = ref(null as unknown as string)

interface ConfigurableWidget extends Widget {
  configParsed?: string
}

const widgets: Ref<ConfigurableWidget[]> = ref([])

async function init() {
  loading.value = true
  widgets.value = await getExisting('widget')
  for (const widget of widgets.value) {
    widget.configParsed = JSON.parse(widget.configuration)
  }
  loading.value = false
}
init()

async function saveWidget(widget: ConfigurableWidget) {
  widget.configuration = JSON.stringify(widget.configParsed)
  const widgetToSave = {
    ...widget
  }
  delete widgetToSave.configParsed
  if (widget.id) {
    await (await saveExisting('widget', widgetToSave, widgetToSave.id)).text()
  } else {
    const widgetCreated = (await (await saveNew('widget', widgetToSave)).json()) as Widget
    widget.id = widgetCreated.id
  }
}

async function cloneWidget(original: ConfigurableWidget) {
  let widget: ConfigurableWidget = JSON.parse(JSON.stringify(original))
  widget.id = undefined as unknown as number
  widget.name = 'Clone of ' + widget.name

  widget.configuration = JSON.stringify(widget.configParsed)
  delete widget.configParsed
  widget = await (await saveNew('widget', widget)).json()
  widget.configParsed = JSON.parse(widget.configuration)
  widgets.value.push(widget)
}

const removeVisible = ref(false)
const selectedWidget = ref({} as ConfigurableWidget)
async function startRemoveWidget(widget: ConfigurableWidget) {
  selectedWidget.value = widget
  removeVisible.value = true
}

async function removeWidget() {
  await deleteExisting('widget', selectedWidget.value.id)
  widgets.value.splice(widgets.value.indexOf(selectedWidget.value), 1)
  selectedWidget.value = undefined as unknown as ConfigurableWidget
  removeVisible.value = false
}

const sortableOptions = {
  handle: '.reorder'
}
</script>

<template>
  <LoadingComponent :loading="loading" :error="error">
    <Sortable :list="widgets" item-key="id" tag="div" :options="sortableOptions">
      <template #item="{ element }">
        <BCard class="mt-5">
          <div class="col-xs-11">
            <LabelGroup label="name">
              <BFormInput v-model="element.name" />
            </LabelGroup>
            <div v-if="element.type === 'ability_export'">
              <LabelGroup label="color">
                <ColorPickerComponent v-model="element.configParsed.color" />
              </LabelGroup>
              <LabelGroup label="ability">
                <BFormInput v-model="element.configParsed.ability" />
              </LabelGroup>
              <LabelGroup label="abilities">
                <table style="width: 100%">
                  <tbody>
                    <tr>
                      <td>
                        <BFormInput v-model="element.configParsed.topleft" />
                      </td>
                      <td>
                        <BFormInput v-model="element.configParsed.topmiddle" />
                      </td>
                      <td>
                        <BFormInput v-model="element.configParsed.topright" />
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <BFormInput v-model="element.configParsed.middleleft" />
                      </td>
                      <td colspan="2">
                        <BFormInput v-model="element.configParsed.middleright" />
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <BFormInput v-model="element.configParsed.bottom" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </LabelGroup>
            </div>
          </div>
          <div class="col-xs-1">
            <IBiList style="float: right; cursor: move" class="reorder" />
            <BButton @click="saveWidget(element)"><IBiFloppy size="lg" /> {{ t('save') }}</BButton>
            <BButton @click="cloneWidget(element)"><IBiCopy size="lg" /> {{ t('clone') }}</BButton>
            <BButton @click="startRemoveWidget(element)"
              ><IBiTrash size="lg" /> {{ t('remove') }}</BButton
            >
          </div>
        </BCard>
      </template>
    </Sortable>
    <BModal
      v-model="removeVisible"
      :title="t('remove_element', { element: selectedWidget.name })"
      cancel-variant="link"
      :cancel-title="t('abort')"
      :ok-title="t('remove')"
      size="lg"
      @ok="removeWidget()"
    >
      {{ t('remove_element_long', { element: selectedWidget.name }) }}
    </BModal>
  </LoadingComponent>
</template>
