<template>
  <SingleComponent ref="single" type="ical_import" :stub="stub" :post-load="postLoad">
    <template #icon>
      <IBiCalendarPlusFill />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="type">
        <Select v-model="post.type" :options="['HOLIDAYS', 'ABSENCES']" />
      </LabelGroup>
      <LabelGroup label="url">
        <BFormInput id="control_id_url" v-model="post.url" />
      </LabelGroup>
      <div v-if="!!post.url">
        <h2>{{ t('authentication') }}</h2>
        <LabelGroup label="auth">
          <BFormRadio v-model="post.auth" name="auth" value="NONE">No authentication</BFormRadio>
          <BFormRadio v-model="post.auth" name="auth" value="BASIC">HTTP Basic Auth</BFormRadio>
        </LabelGroup>
        <LabelGroup v-if="post.auth == 'BASIC'" label="username">
          <BFormInput id="control_id_username" v-model="post.username" />
        </LabelGroup>
        <LabelGroup v-if="post.auth == 'BASIC'" label="password">
          <BFormInput id="control_id_password" v-model="post.password" />
        </LabelGroup>
      </div>
      <LabelGroup v-if="post.id !== undefined && !post.url" label="file">
        <FileUpload
          id="control_id_icon"
          mode="basic"
          name="file"
          custom-upload
          :auto="true"
          @uploader="uploadFile($event)"
        >
          <template #empty>
            {{ t('drop_files_to_upload') }}
          </template>
        </FileUpload>
      </LabelGroup>
    </template>
  </SingleComponent>
  <ProgressComponent
    :visible="!!filename"
    :title="t('uploading_X', { x: filename })"
    :progress="progress"
  />
</template>

<script setup lang="ts">
import { ref, useTemplateRef } from 'vue'
import { useRoute } from 'vue-router'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { postData } from '@/appframework/lib/rest'
import { useI18n } from 'vue-i18n'
import type { IcalImport, ImportResult, Progress } from '@/appframework'
import { type FileUploadUploaderEvent } from 'primevue/fileupload'
import { useToast } from 'primevue/usetoast'
const toast = useToast()

const route = useRoute()
const { t } = useI18n()

function stub() {
  return {
    type: 'ABSENCES',
    auth: 'NONE'
  } as IcalImport
}

const single = useTemplateRef('single')

function postLoad(ical_import: IcalImport, isClone: boolean) {
  if (isClone) {
    ical_import.lastImported = undefined as unknown as Date
  }
}

const filename = ref('')
const progress = ref({} as Progress<ImportResult>)
let ws: WebSocket

async function uploadFile(event: FileUploadUploaderEvent) {
  const file = Array.isArray(event.files) ? event.files[0] : event.files

  const formData = new FormData()

  formData.append('file', file)
  formData.append('filename', file.name)

  const ical_import = (single.value as any).post.value as IcalImport
  const response = await postData(`ical_import/upload/${ical_import.id}`, formData)
  if (response.status == 200) {
    ws = new WebSocket('/async/progress/' + (await response.text()))
    filename.value = file.name
    ws.onmessage = function (event) {
      progress.value = JSON.parse(event.data)
      if (progress.value.completed) {
        toast.add({
          summary: t('import_completed'),
          detail: t('import_result', {
            message: progress.value.message,
            skipped: progress.value.result.skipped,
            created: progress.value.result.created,
            updated: progress.value.result.updated,
            deleted: progress.value.result.deleted
          }),
          severity: 'info'
        })
        filename.value = ''
        ws.close()
        if (progress.value.success) {
          ;(single.value as any).fetchData(parseInt(route.params.id as string))
        } else {
          alert(progress.value.message)
        }
      }
    }
    ws.onerror = function () {
      toast.add({
        summary: t('import_failed'),
        severity: 'error'
      })
      ws.close()
    }
  } else {
    alert(response.json())
  }
}
</script>
