<script setup lang="ts">
import { format } from 'date-fns'
import { ref, useTemplateRef } from 'vue'
import { useI18n } from 'vue-i18n'
import { useToast } from 'primevue/usetoast'

import type { Credentials, IcalImport, ImportResult, Progress } from '@/appframework'
import { saveNew } from '@/appframework/lib/rest'
import { getDfnsLocale } from '@/appframework/lib/i18n'

const { t } = useI18n()
const toast = useToast()
const list = useTemplateRef('list')

function stub() {
  return { name: '' } as IcalImport
}

const showImportCredials = ref(false)
function startImport(ical_import: IcalImport) {
  if (ical_import.auth === 'BASIC' && (!ical_import.username || !ical_import.password)) {
    showImportCredials.value = true
  } else {
    performImport(ical_import)
  }
}

const activeImport = ref(undefined as unknown as IcalImport)
const progress = ref({} as Progress<ImportResult>)
const credentials = ref({} as Credentials)

let ws: WebSocket

async function performImport(ical_import: IcalImport, credentials?: Credentials) {
  activeImport.value = ical_import
  const formData = new FormData()

  if (credentials) {
    formData.append('username', credentials.username)
    formData.append('password', credentials.password)
  }

  const response = await saveNew(`ical_import/import/${ical_import.id}`, formData)
  ws = new WebSocket('/async/progress/' + (await response.text()))
  ws.onmessage = function (event) {
    const newProgress = JSON.parse(event.data)
    progress.value = newProgress
    if (progress.value.completed) {
      activeImport.value = undefined as unknown as IcalImport
      ws.close()
      if (progress.value.success) {
        if (list.value) {
          ;(list.value as any).fetchData(true)
        }
        toast.add({
          summary: t('import_completed'),
          detail: t('import_result', {
            message: progress.value.message,
            skipped: progress.value.result.skipped,
            created: progress.value.result.created,
            updated: progress.value.result.updated,
            deleted: progress.value.result.deleted
          }),
          severity: 'info'
        })
      } else {
        toast.add({
          summary: t('import_failed'),
          detail: progress.value.message,
          severity: 'error'
        })
      }
    }
  }
  ws.onerror = function (): any {
    toast.add({
      summary: t('import_failed'),
      severity: 'error'
    })
    ws.close()
  }
}
</script>

<template>
  <ListComponent ref="list" type="ical_import" :stub="stub" name-column="name" :colspan-extra="2">
    <template #icon>
      <IBiCalendarPlusFill />
    </template>
    <template #header-extra="{ pager, order }">
      <SortableColumnHeader predicate="url" :pager="pager" :order="order" />
      <BTh>{{ t('last_import') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        {{ dto.url }}
      </BTd>
      <BTd>
        {{ format(dto.lastImported, 'Ppp', { locale: getDfnsLocale() }) }}
      </BTd>
    </template>
    <template #actions-extra="{ dto }">
      <BButton size="sm" variant="primary" @click="startImport(dto)">
        <IBiDownload /> {{ t('import') }}
      </BButton>
    </template>
  </ListComponent>
  <ProgressComponent
    :visible="!!activeImport"
    :title="t('importing_X', { x: activeImport?.name })"
    :progress="progress"
  />
  <BModal v-model="showImportCredials" @ok="performImport(activeImport, credentials)">
    <LabelGroupComponent label="username">
      <BFormInput v-model="credentials.username" />
    </LabelGroupComponent>
    <LabelGroupComponent label="password">
      <BFormInput v-model="credentials.password" type="password" />
    </LabelGroupComponent>
  </BModal>
</template>
