<script setup lang="ts">
import { useTemplateRef } from 'vue'
import { useI18n } from 'vue-i18n'

import type { Label } from '@/appframework'
import { search } from '@/App.vue'
import MergeDialog from '@/appframework/components/MergeDialog.vue'

const { t } = useI18n()
const list = useTemplateRef('list')
const merge = useTemplateRef('merge')

function stub() {
  return { name: '' } as Label
}

function reload() {
  if (list.value) {
    ;(list.value as any).fetchData(true)
  }
}

function startMerge(label: Label) {
  if (merge.value) {
    ;(merge.value as any).openMergeDialog(label, search.value)
  }
}
</script>

<template>
  <ListComponent ref="list" type="label" :stub="stub" name-column="name" :colspan-extra="1">
    <template #icon>
      <IBiTag />
    </template>
    <template #header-extra>
      <BTh>{{ t('alias') }}</BTh>
    </template>
    <template #name-content="{ dto }">
      <LabelColor :label="dto" />
      <RouterLink :to="`/labels/${dto.id}`">{{ dto.name }}</RouterLink>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        <span v-for="(alias, index) in dto.alias" :key="index" class="aliasListElement">{{
          alias
        }}</span>
      </BTd>
    </template>
    <template #actions-extra="{ dto }">
      <BButton size="sm" variant="secondary" @click="startMerge(dto)">
        <IBiUpload /> {{ t('merge') }}
      </BButton>
    </template>
  </ListComponent>
  <MergeDialog ref="merge" type="label" @completed="reload" />
</template>

<style scoped>
.aliasListElement:not(:last-child):after {
  content: ', ';
}
</style>
