<template>
  <SingleComponent type="label" :stub="stub">
    <template #icon>
      <IBiTag />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="color">
        <ColorPickerComponent v-model="post.color" :alternatives="colors" />
      </LabelGroup>
      <LabelGroup label="alias">
        <div v-for="(alias, index) in post.alias" :key="index">
          <BInputGroup>
            <BFormInput v-model="post.alias[index]"> </BFormInput>
            <template #append>
              <BButton
                size="sm"
                variant="danger"
                class="float-end"
                @click="removeAlias(post, index)"
              >
                <IBiDash />
              </BButton>
            </template>
          </BInputGroup>
        </div>
        <BButton variant="success" size="sm" @click="addAlias(post)">
          <IBiPlus />
        </BButton>
      </LabelGroup>
      <LabelGroup label="precedence">
        <BFormCheckbox v-model="post.precedence" />
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref, type Ref } from 'vue'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { getExisting } from '@/appframework/lib/rest'
import type { Label } from '@/appframework'

const colors: Ref<string[]> = ref([])

function stub() {
  return {
    color: '#ccffaa'
  } as Label
}

async function init() {
  colors.value = await getExisting('label/colors')
}
init()

function removeAlias(label: Label, index: number) {
  label.alias.splice(index, 1)
}

function addAlias(label: Label) {
  label.alias.push('')
}
</script>
