<template>
  <SingleComponent type="location" :stub="stub" :post-load="postLoad">
    <template #icon>
      <IBiGlobe />
    </template>
    <template #appendix="{ post }">
      <div v-if="!!post.id">
        <h2>{{ t('employees') }}</h2>
        <BTableSimple>
          <BTbody>
            <BTr v-for="employee in employees" :key="employee.id">
              <BTd><EmployeeName :employee="employee" /></BTd>
            </BTr>
          </BTbody>
        </BTableSimple>
        <h2>{{ t('holidays') }}</h2>
        <BTableSimple>
          <BTbody>
            <BTr
              v-for="holiday in holidays"
              :key="holiday.id"
              :class="{ past: isBefore(holiday.date, new Date()) }"
            >
              <BTd>{{ format(holiday.date, 'PP', { locale: getDfnsLocale() }) }}{{}}</BTd>
              <BTd>{{ holiday.name }}</BTd>
            </BTr>
          </BTbody>
        </BTableSimple>
      </div>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref, type Ref } from 'vue'

import { getExisting } from '@/appframework/lib/rest'
import { useI18n } from 'vue-i18n'
import type { Employee, Holiday, Location } from '@/appframework'
import { isBefore, format } from 'date-fns'
import { getDfnsLocale } from '@/appframework/lib/i18n'

const { t } = useI18n()

const employees: Ref<Employee[]> = ref([])
const holidays: Ref<Holiday[]> = ref([])

function stub() {
  return {} as Location
}

async function postLoad(location: Location) {
  employees.value = await getExisting(`location/${location.id}/employees`)
  holidays.value = await getExisting(`location/${location.id}/holidays`)
}
</script>

<style>
tr.past td {
  color: #aaaaaa;
}
</style>
