<script setup lang="ts">
import type { Location } from '@/appframework'

function stub() {
  return { name: '' } as Location
}
</script>

<template>
  <ListComponent type="location" :stub="stub">
    <template #icon>
      <IBiGlobe />
    </template>
  </ListComponent>
</template>
