<script setup lang="ts">
import type { ReferencePool } from '@/appframework'

function stub() {
  return { name: '' } as ReferencePool
}
</script>

<template>
  <ListComponent type="referencepool" :stub="stub" :colspan-extra="1">
    <template #icon>
      <IBiLink />
    </template>
    <template #header-extra="{ pager, order }">
      <SortableColumnHeader predicate="templateUrl" :pager="pager" :order="order" />
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        {{ dto.templateUrl }}
      </BTd>
    </template>
  </ListComponent>
</template>
