<template>
  <SingleComponent type="referencepool" :stub="stub">
    <template #icon>
      <IBiLink />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="templateUrl">
        <BFormInput
          id="control_id_templateUrl"
          v-model="post.templateUrl"
          placeholder="(e.g. https://YOUR_JIRA_INSTALLATION/browse/$1)"
        />
        <div class="form-text">{{ t('templateUrl.description') }}</div>
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { useI18n } from 'vue-i18n'
import type { ReferencePool } from '@/appframework'

const { t } = useI18n()

function stub() {
  return {} as ReferencePool
}
</script>
