<template>
  <SingleComponent type="requirementcluster" :stub="stub">
    <template #icon>
      <IBiCollection />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="referencepool">
        <div v-for="(reference, index) in post.references" :key="index" class="row">
          <div class="col-md-2">
            <Select
              v-model="reference.poolId"
              fluid
              :options="referencepools"
              option-label="name"
              option-value="id"
              placeholder="Select pool"
            ></Select>
          </div>
          <div class="col-md-8">
            <BFormInput v-model="reference.referenceKey" />
            <div class="form-text">
              {{
                referencepools_lookup[reference.poolId].templateUrl.replace(
                  '$1',
                  reference.referenceKey || '[...]'
                )
              }}
            </div>
          </div>
          <div class="col-md-2">
            <BButton variant="danger" size="sm" @click="removeReference(post, reference)">
              <IBiNodeMinus /> {{ t('remove') }}
            </BButton>
          </div>
        </div>
        <BButton variant="success" size="sm" @click="addReference(post)">
          <IBiNodePlus /> {{ t('add') }}
        </BButton>
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref, type Ref } from 'vue'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { getExisting } from '@/appframework/lib/rest'
import { useI18n } from 'vue-i18n'
import type { ReferencePool, Reference, RequirementCluster } from '@/appframework'

const { t } = useI18n()

function stub() {
  return { references: [] as Reference[] } as RequirementCluster
}

const referencepools: Ref<ReferencePool[]> = ref([])
const referencepools_lookup = ref({} as Record<number, ReferencePool>)

async function init() {
  referencepools.value = await getExisting<ReferencePool[]>('referencepool')
  for (const referencepool of referencepools.value) {
    referencepools_lookup.value[referencepool.id] = referencepool
  }
}
init()

function addReference(requirementcluster: RequirementCluster) {
  const reference = {
    referenceKey: ''
  } as Reference
  if (referencepools.value.length > 0) {
    reference.poolId = referencepools.value[0].id
  }
  requirementcluster.references.push(reference)
}

function removeReference(requirementcluster: RequirementCluster, reference: Reference) {
  const index = requirementcluster.references.indexOf(reference)
  if (index !== -1) {
    requirementcluster.references.splice(index, 1)
  }
}
</script>
