<template>
  <SingleComponent type="requirement" :stub="stub" :pre-save="preSave">
    <template #icon>
      <IBiCollectionFill />
    </template>
    <template #form-extra="{ post }">
      <LabelGroup label="requirementcluster">
        <AutoComplete
          v-model="post.clusterId"
          option-label="name"
          option-value="id"
          fluid
          :suggestions="suggestedClusters"
          :loading="loadSuggestionsClusters"
          @complete="suggestClusters"
        ></AutoComplete>
      </LabelGroup>
      <LabelGroup label="priority">
        <BButtonGroup>
          <BButton :disabled="post.priority === 'HIGH'" value="HIGH">{{
            t('priority.high')
          }}</BButton>
          <BButton :disabled="post.priority === 'MED_HIGH'" value="MED_HIGH">{{
            t('priority.med_high')
          }}</BButton>
          <BButton :disabled="post.priority === 'MEDIUM'" value="MEDIUM">{{
            t('priority.medium')
          }}</BButton>
          <BButton :disabled="post.priority === 'MED_LOW'" value="MED_LOW">{{
            t('priority.med_low')
          }}</BButton>
          <BButton :disabled="post.priority === 'LOW'" value="LOW">{{ t('priority.low') }}</BButton>
        </BButtonGroup>
      </LabelGroup>
      <LabelGroup label="referencepool">
        <div v-for="(reference, index) in post.references" :key="index" class="row">
          <div class="col-md-2">
            <Select
              v-model="reference.poolId"
              fluid
              :options="referencepools"
              option-label="name"
              option-value="id"
              placeholder="Select pool"
            ></Select>
          </div>
          <div class="col-md-8">
            <BFormInput v-model="reference.referenceKey" />
            <div class="form-text">
              {{
                referencepools_lookup[reference.poolId].templateUrl.replace(
                  '$1',
                  reference.referenceKey || '[...]'
                )
              }}
            </div>
          </div>
          <div class="col-md-2">
            <BButton variant="danger" size="sm" @click="removeReference(post, reference)">
              <IBiNodeMinus /> {{ t('remove') }}
            </BButton>
          </div>
        </div>
        <BButton variant="success" size="sm" @click="addReference(post)">
          <IBiNodePlus /> {{ t('add') }}
        </BButton>
      </LabelGroup>
      <LabelGroup label="effort">
        <BFormInput id="control_id_effort" v-model="post.effort" type="number" />
      </LabelGroup>
      <LabelGroup label="remaining">
        <BFormInput id="control_id_remaining" v-model="post.remaining" type="number" />
      </LabelGroup>
      <LabelGroup label="due">
        <DatePicker id="control_id_due" v-model="post.due" />
      </LabelGroup>
      <LabelGroup label="desiredStart">
        <DatePicker id="control_id_desiredStart" v-model="post.desiredStart" />
      </LabelGroup>
      <LabelGroup label="abilities">
        <div v-for="(requiredAbility, index) in post.requiredAbilities" :key="index" class="row">
          <div class="col-sm-8">
            <LabelSelection v-model="requiredAbility.skills" />
          </div>
          <div class="col-sm-2">
            <BFormInput
              v-model="requiredAbility.percentage"
              type="number"
              placeholder="%"
              :max="100"
              :min="1"
            />
          </div>
          <div class="col-sm-2">
            <BButton
              class="btn btn-danger btn-sm float-right"
              @click="removeRequiredAbility(post, requiredAbility)"
            >
              <IBiDash />
            </BButton>
          </div>
        </div>
        <BButton variant="success" size="sm" @click="addRequiredAbility(post)">
          <IBiPlus />
        </BButton>
      </LabelGroup>
    </template>
  </SingleComponent>
</template>

<script setup lang="ts">
import { ref, type Ref } from 'vue'

import LabelGroup from '@/appframework/components/LabelGroupComponent.vue'
import { getExisting } from '@/appframework/lib/rest'
import { useI18n } from 'vue-i18n'
import type {
  Reference,
  ReferencePool,
  RequiredAbility,
  Requirement,
  RequirementCluster
} from '@/appframework'
import type { AutoCompleteCompleteEvent } from 'primevue/autocomplete'

const { t } = useI18n()

function preSave(requirement: Requirement) {
  if (typeof requirement.clusterId === 'object') {
    requirement.clusterId = (requirement.clusterId as RequirementCluster)?.id
  }
}

const referencepools: Ref<ReferencePool[]> = ref([])
const referencepools_lookup = ref({} as Record<number, ReferencePool>)

function stub() {
  return {
    references: [] as Reference[],
    priority: 'MEDIUM',
    requiredAbilities: [] as RequiredAbility[]
  } as Requirement
}

const suggestedClusters: Ref<RequirementCluster[]> = ref([])
const loadSuggestionsClusters = ref(false)
async function suggestClusters(event: AutoCompleteCompleteEvent) {
  const input = event.query
  if (!input) {
    return
  }
  loadSuggestionsClusters.value = true
  suggestedClusters.value = await getExisting(`requirementcluster?search=${input}`)
  loadSuggestionsClusters.value = false
}

async function init() {
  referencepools.value = await getExisting<ReferencePool[]>('referencepool')
  for (const referencepool of referencepools.value) {
    referencepools_lookup.value[referencepool.id] = referencepool
  }
}
init()

function addReference(requirement: Requirement) {
  const reference = {} as Reference
  if (referencepools.value.length > 0) {
    reference.poolId = referencepools.value[0].id
  }
  requirement.references.push(reference)
}

function removeReference(requirement: Requirement, reference: Reference) {
  const index = requirement.references.indexOf(reference)
  if (index !== -1) {
    requirement.references.splice(index, 1)
  }
}

function addRequiredAbility(requirement: Requirement) {
  requirement.requiredAbilities.push({} as RequiredAbility)
}

function removeRequiredAbility(requirement: Requirement, requiredAbility: RequiredAbility) {
  const index = requirement.requiredAbilities.indexOf(requiredAbility)
  if (index !== -1) {
    requirement.requiredAbilities.splice(index, 1)
  }
}
</script>
<style>
.p-autocomplete-input-multiple {
  margin-bottom: 0;
}
</style>
