<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'

import type { Requirement, ReferencePool } from '@/appframework'
import { hasPermission } from '@/App.vue'
import { getExisting } from '@/appframework/lib/rest'

const { t } = useI18n()

function stub() {
  return { name: '' } as Requirement
}

const referencepools_lookup = ref({} as Record<number, ReferencePool>)
async function init() {
  const referencepools = await getExisting<ReferencePool[]>('referencepool')
  for (const referencepool of referencepools) {
    referencepools_lookup.value[referencepool.id] = referencepool
  }
}
init()
</script>

<template>
  <ListComponent type="requirement" :stub="stub" :colspan-extra="2">
    <template #icon>
      <IBiCollectionFill />
    </template>
    <template #header-extra>
      <BTh>{{ t('references') }}</BTh>
      <BTh>{{ t('progress') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        <a
          v-for="reference in dto.references"
          :key="reference.poolId + reference.referenceKey"
          target="_blank"
          :href="
            referencepools_lookup[reference.poolId].templateUrl.replace(
              '$1',
              reference.referenceKey
            )
          "
          style="margin-right: 10px"
        >
          {{ reference.referenceKey }}
        </a>
      </BTd>
      <BTd>
        <ProgressBar
          :value="dto.effort - dto.remaining"
          :max="dto.effort"
          :style="{
            width: ((dto.effort - dto.remaining) / dto.effort) * 100 + '%'
          }"
        >
          {{ dto.effort - dto.remaining }} / {{ dto.effort }}
        </ProgressBar>
      </BTd>
    </template>
  </ListComponent>
  <BButton
    v-if="hasPermission('ADMIN_REQUIREMENTS')"
    to="/requirements/upload"
    class="btn-upload"
    :title="t('upload')"
  >
    <IBiUpload />
  </BButton>
</template>

<style>
.btn.btn-upload {
  position: fixed;
  bottom: 20px;
  right: 70px;
}
</style>
