<script setup lang="ts">
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'

import type { ReferencePool, RequirementCluster } from '@/appframework'
import { getExisting } from '@/appframework/lib/rest'

const { t } = useI18n()

function stub() {
  return { name: '' } as RequirementCluster
}

const referencepools_lookup = ref({} as Record<number, ReferencePool>)
async function init() {
  const referencepools = await getExisting<ReferencePool[]>('referencepool')
  for (const referencepool of referencepools) {
    referencepools_lookup.value[referencepool.id] = referencepool
  }
}
init()
</script>

<template>
  <ListComponent type="requirementcluster" :stub="stub" name-column="name" :colspan-extra="1">
    <template #icon>
      <IBiCollection />
    </template>
    <template #header-extra>
      <BTh>{{ t('references') }}</BTh>
    </template>
    <template #body-extra="{ dto }">
      <BTd>
        <a
          v-for="reference in dto.references"
          :key="reference.poolId + reference.referenceKey"
          target="_blank"
          :href="
            referencepools_lookup[reference.poolId].templateUrl.replace(
              '$1',
              reference.referenceKey
            )
          "
          style="margin-right: 10px"
          >{{ reference.referenceKey }}</a
        >
      </BTd>
    </template>
  </ListComponent>
</template>
