<script setup lang="ts">
import type { Label } from '@/appframework'
import { computed } from 'vue'

const props = defineProps<{
  withAbilities: {
    abilities: Label[]
  }
  filter?: (type: string, term: string, $event: Event) => void
}>()

const abilities = computed(() =>
  props.withAbilities.abilities.concat().sort((a, b) => (a.name < b.name ? -1 : 1))
)

function foregroundColor(label: Label): string {
  const r = parseInt(label.color.substring(0, 2), 16)
  const g = parseInt(label.color.substring(2, 4), 16)
  const b = parseInt(label.color.substring(4, 6), 16)
  if (r + g + b < 128 * 3) {
    return 'white'
  }
  return 'black'
}
</script>

<template>
  <span
    v-for="label of abilities"
    :key="label.id"
    class="badge ms-1"
    style="cursor: pointer"
    :style="{ 'background-color': `#${label.color}`, color: foregroundColor(label) }"
    @click="($event) => filter && filter('skill', label.name, $event)"
  >
    {{ label.name }}
  </span>
</template>
