<script setup lang="ts">
import type { Employee } from '@/appframework'

defineProps<{
  employee: Employee
  nolink?: boolean
}>()
</script>

<template>
  <span class="employee">
    <i class="employee-color" :style="{ 'background-color': `#${employee.color}` }"></i>
    <RouterLink v-if="!nolink" :to="`/employees/${employee.id}`">{{ employee.name }}</RouterLink>
    <span v-if="nolink">{{ employee.name }}</span>
  </span>
</template>
