<script setup lang="ts">
import { ref, type Ref } from 'vue'
import { type AutoCompleteCompleteEvent } from 'primevue/autocomplete'

import type { Label } from '@/appframework'
import { getExisting } from '@/appframework/lib/rest'

defineEmits(['change'])

const model = defineModel<Label[]>()

const suggestedLabels: Ref<Label[]> = ref([])
const loadSuggestionsLabels = ref(false)
async function suggestLabels(event: AutoCompleteCompleteEvent) {
  const input = event.query
  if (!input) {
    return
  }
  loadSuggestionsLabels.value = true
  suggestedLabels.value = await getExisting(`label?search=${input}`)
  loadSuggestionsLabels.value = false
}
</script>

<template>
  <AutoComplete
    v-model="model"
    option-label="name"
    multiple
    fluid
    :suggestions="suggestedLabels"
    :loading="loadSuggestionsLabels"
    @complete="suggestLabels"
    @change="$emit('change')"
  ></AutoComplete>
</template>
