<script setup lang="ts">
defineProps<{ velocity: number }>()
</script>

<template>
  <span :class="{ 'text-danger': velocity < 50, 'text-success': velocity >= 66 }">
    {{ velocity }}%
  </span>
</template>
