@import '../appframework/css/appframework.css';

ul.dropdown-menu {
  padding: 0;
  margin: 0;
}

.employee .employee-color {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  border-radius: 4px;
}

.employee a {
  vertical-align: middle;
}

.color-picker-color {
  display: inline-block;
  vertical-align: middle;
  width: 13px;
  height: 13px;
  border-radius: 2px;
}

.imported {
  background-size: 30px 30px;
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0.3) 75%,
    transparent 75%,
    transparent
  );
}

.breadcrumb {
  --bs-breadcrumb-margin-bottom: 0;
  font-size: 90%;
}

.p-colorpicker {
  padding: 0.375rem 0;
}

.p-autocomplete-input-multiple {
  margin-bottom: 0;
  padding-left: 0.75rem;
}

.p-autocomplete-list {
  margin-bottom: 0;
  padding-left: 4px;
}
