<script lang="ts">
import { ref } from 'vue'
import { useRoute } from 'vue-router'

import { appState, isLoggedIn } from './store'

const buildTimestamp = ref(new Date(BUILD_TIMESTAMP))
const appVersion = ref(APP_VERSION)

export const currentModule = function () {
  const route = useRoute()
  let currentPath = route.path
  if (currentPath.startsWith('/')) {
    currentPath = currentPath.substring(1)
  }
  const firstSlash = currentPath.indexOf('/')
  if (firstSlash >= 0) {
    currentPath = currentPath.substring(0, firstSlash)
  }
  return currentPath
}

export const hasPermission = function (permission: string) {
  const state = appState()
  return state.value.permissions.indexOf(permission) >= 0
}

export const search = ref('')
</script>
<script setup lang="ts">
import { format } from 'date-fns'
import { useI18n } from 'vue-i18n'
import { RouterView } from 'vue-router'
import PermissionLink from '@/appframework/components/PermissionLinkComponent.vue'
import { getDfnsLocale } from '@/appframework/lib/i18n'

const { t } = useI18n()
</script>

<template>
  <header>
    <BNavbar
      v-b-color-mode="'dark'"
      toggleable="lg"
      variant="dark"
      :title="appVersion + ' (' + format(buildTimestamp, 'Ppp', { locale: getDfnsLocale() }) + ')'"
    >
      <BNavbarBrand to="/">Capacity</BNavbarBrand>
      <BNavbarToggle target="nav-collapse" />
      <BCollapse id="nav-collapse" is-nav>
        <BNavbarNav>
          <BNavItem v-if="isLoggedIn()" id="menu_capacity" to="/capacity">
            <IBiGraphUp /> {{ t('capacity') }}
          </BNavItem>
          <BNavItem v-if="isLoggedIn()" id="menu_planning" to="/planning">
            <IBiPieChart /> {{ t('planning') }}
          </BNavItem>

          <BNavItemDropdown v-if="isLoggedIn()" id="navbarAdministration" right>
            <template #button-content> <IBiGearFill /> {{ t('administration') }} </template>
            <PermissionLink permission="SHOW_ROLES" module="roles">
              <template #icon><IBiPuzzle /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_USERS" module="users">
              <template #icon><IBiPersonFill /></template>
            </PermissionLink>
            <BDropdownDivider />
            <PermissionLink permission="SHOW_EMPLOYEES" module="employees">
              <template #icon><IBiPeople /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_EPISODES" module="episodes">
              <template #icon><IBiFilePlay /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_LOCATIONS" module="locations">
              <template #icon><IBiGlobe /></template>
            </PermissionLink>
            <BDropdownDivider />
            <PermissionLink permission="SHOW_REFERENCEPOOLS" module="referencepools">
              <template #icon><IBiLink /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_REQUIREMENTS" module="requirements">
              <template #icon><IBiCollectionFill /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_REQUIREMENTCLUSTERS" module="requirementclusters">
              <template #icon><IBiCollection /></template>
            </PermissionLink>
            <BDropdownDivider />
            <PermissionLink permission="SHOW_ICAL_IMPORTS" module="ical_imports">
              <template #icon><IBiCalendarPlusFill /></template>
            </PermissionLink>
            <PermissionLink permission="SHOW_LABELS" module="labels">
              <template #icon><IBiTag /></template>
            </PermissionLink>
          </BNavItemDropdown>

          <BNavItem v-if="isLoggedIn()" id="menu_calendar" to="/calendar">
            <IBiCalendar /> {{ t('calendar') }}
          </BNavItem>
          <BNavItem v-if="isLoggedIn()" id="menu_absence" to="/absence">
            <IBiLink /> {{ t('absence') }}
          </BNavItem>
        </BNavbarNav>

        <!-- Right aligned nav items -->
        <BNavbarNav class="ms-auto mb-2 mb-lg-0">
          <BNavItem v-if="isLoggedIn()" id="menu_profile" to="/profile">
            <IBiPersonVcard /> {{ t('profile') }}
          </BNavItem>
          <BNavItem v-if="isLoggedIn()" id="menu_logout" to="/logout">
            <IBiPower /> {{ t('logout') }}
          </BNavItem>
        </BNavbarNav>

        <BNavForm v-if="isLoggedIn()" class="ms-auto d-flex">
          <BFormInput
            id="site_search"
            v-model="search"
            class="me-sm-2"
            type="search"
            :placeholder="t('search')"
          />
        </BNavForm>
      </BCollapse>
    </BNavbar>
  </header>

  <div class="container-fluid">
    <RouterView />
    <Toast />
  </div>
</template>
